@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Tajawal:wght@300&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

body{
    background-color: aqua;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
    
}